

.navbarContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100vw;
    padding: 2rem;
    position: sticky;
    background-color: black;
}

.logoContainer{
    top: 0;
}

.navLink {
    text-decoration: none;
}


.logo {
   width: 500px;
   height: 250px;
   margin-top: 20px;
   margin-left: 0;
}

.navHeadText{
    font-family: bree serif;
    font-size: 42px;
    color: orange;
}

.mainHeadText{
    color: open serif;
    font-size: 42px;
    color: #FFB600;
}

.navbarLargeDeviceContainer{
    display: none;
}

.navSmallDeviceOverlay{
    height: 100vh;
    width: 100vw;
    background-color: #000;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 5;
}

.closeButton{
    position: fixed;
    top: 20px;
    right: 20px;
}

.menuListContainerSmallDevice{
    list-style: none;
   
}

.menuText{
    font-family: bree serif;
    color: #fff;
    font-weight: 500;
    font-size: 42px;
    text-align: center;
    padding: 1.2rem;
}

@media screen and (min-width : 650px) {
    .navbarContainer {
        
    }

    .navbarLargeDeviceContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    .navHeadText{
        font-family: bree serif;
        font-size: 62px;
        color: orange;
    }
    
    .logo {
        margin-top: 50px;
        height: 350px;
        padding: 2rem;
    }

    .navbarSmallDeviceContainer{
        display: none;
    }

    .menuListContainer{
        display: flex;
        list-style: none;
    }

    .menuTextLarge{
        font-family: bree serif;
        font-size: 22px;
        font-weight: 500;
        color: #fff;
        margin: 0 2rem;
    }

    .menuTextLarge:hover {
        color: gold;
        border-bottom: 2px solid goldenrod;
    }
}