.sectionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(0,0,0,0.2) , rgb(0,0,0,0.2)) , url("../../public/bg-2.jpg") ;
    background-position: center;
    background-size: cover;
}

.head{
    font-family: bree serif;
    font-size: 42px;
    color: #000;
    font-weight: bold;

}

.sectionInnerContainer{
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.eachSectionContainer{
    height: 250px;
    width: 250px;
    border-radius: 250px;
    border: 1px solid orange;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin: 1.2rem;
}

.eachSectionContainer:hover {
    background-color: gold;
}

.headText{
    font-family: bree serif;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
    text-align: center;
}

.sectionDescriptionText{
    color: #000;
    font-size: 14px;
    text-align: center;
    margin-top: 1rem;
    font-weight: 700;
}


@media screen and (max-width : 650px) {
    .eachSectionContainer {
        height: 150px;
        width: 150px;
        border-radius: 150px;
        padding: 1rem;
        margin: 0.5rem;
    }

    .sectionInnerContainer {
        justify-content: center;
    }

    .headText {
        font-size: 16px;
    }

    .sectionDescriptionText {
        font-size: 12px;
    }
}

@media screen and (max-width : 1150px) {
    .eachSectionContainer {
        height: 180px;
        width: 180px;
        border-radius: 150px;
        padding: 1rem;
        margin: 0.5rem;
    }

    .sectionInnerContainer {
        justify-content: center;
    }

    .headText {
        font-size: 16px;
    }

    .sectionDescriptionText {
        font-size: 12px;
    }
}